body{
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 5%;
    height: 100%;
    padding: 25px;
}

.left{
    display: grid;
    place-items: center;
    padding: 10px;
    border: 1px solid black;
}

li {
    list-style-type: none;
}

#videoElem{
    transform: scaleX(-1);
}

.right{
    border: 1px solid black;
    overflow: scroll;
    display: grid;
    max-height: 500px;  
}

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 24px;
    color: #FFFFFF;
    padding: 16px;
    border-radius: 8px;
    min-width: 150px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }